<% layout("layouts/boilerplate") -%>
<!--  <div class="mb-3">
          <label for="title" class="form-label">
            Title
          </label>
          <input name="listing[title]" class="form-control" placeholder="enter title" type="text" />
        </div>
 -->
  <div class="row">
    <div class="col-6 offset-2">
      <br>
      <br>
        <h3>Edit your Listing</h3>
    <form method="POST" 
    action="/listings/<%= listing._id %>?_method=PUT"
    enctype="multipart/form-data"
    >
      <div class="mb-3">
         <label for="title" class="form-label">
            Title
          </label>
           <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />
      </div>
     <div class="mb-3">
       <label for="description" class="form-label">
            Description
          </label>
      <textarea name="listing[description]" class="form-control">
<%= listing.description %></textarea>
     </div>
     <div class="mb-3">
      Original Image<br>
        <img src="<%= OriginalImageUrl %>" alt="listing image" />
     </div>
     <div class="mb-3">
       <label for="image" class="form-label">
            Upload New Image
          </label>
       <input name="listing[image]"  
       type="file"
       class="form-control"
       />
     </div>
     <div class="mb-3">
       <label for="price" class="form-label">
            Price
          </label>
       <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" />
      
     </div>
      <div class="row">
        <div class="mb-3 col-md-4">
       <label for="country" class="form-label">
            Country
          </label>
        <input
          name="listing[country]" class="form-control"
          value="<%= listing.country %>"
          type="text"
        />
     </div>
     <div class="mb-3 col-md-8">
       <label for="Location" class="form-label">
            Location
          </label>
       <input
         name="listing[location]"
         class="form-control"
         value="<%= listing.location %>"
         type="text"
       />
     </div>
      </div>
      
      <button class="btn btn-dark edit-dtn">Edit</button>
    </form>
    <br><br>
    </div>
  </div>